body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Dark background */
    margin: 0;
    padding: 0;
    color: #fff; /* Text color */
}

header {
    /* Add a background image to the header */
    background-image: url('images/landingp.webp'); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
    background-size: cover; /* Cover the entire header */
    background-position: center; /* Center the background image */
    color: #fff;
    text-align: center;
    padding: 40px 0; /* Increased padding for better spacing */
}

h1 {
    margin: 0;
    font-size: 36px;
}

.introduction {
    text-align: center;
    padding: 20px;
}

.introduction img {
    width: 100%;
    max-height: 80vh;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.introduction p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.6;
}

main {
    padding: 20px;
}

.search-container {
    display: flex; /* Add flexbox layout */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    margin-bottom: 10px; /* Increased margin for better separation */
}

input[type="text"] {
    flex: 1; /* Let the input grow to fill available space */
    padding: 15px; /* Increased padding for better input field appearance */
    margin-right: 10px; /* Add margin between input and button */
    border: none;
    border-radius: 30px; /* Increased border radius for a sleek look */
    outline: none;
    background-color: #1f1f1f;
    color: #fff;
}

button,
.btn {
    padding: 15px 30px; /* Increased padding for better button appearance */
    background: linear-gradient(135deg, #3BD045, #EF1105);
    color: #fff;
    border: none;
    border-radius: 30px; /* Increased border radius for a sleek look */
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover,
.btn:hover {
    background: linear-gradient(135deg, #3BD045, #EF1105);
}

#solutionResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.solution {
    width: 300px;
    margin-bottom: 30px; /* Increased margin for better separation */
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 15px; /* Reduced border radius for a sleek look */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.solution:hover {
    transform: translateY(-5px);
}

.solution h3 {
    margin-top: 0;
    font-size: 24px;
}

.solution img {
    max-width: 100%;
    border-radius: 8px; /* Reduced border radius for a sleek look */
    margin-bottom: 10px;
}

footer {
    background: linear-gradient(135deg, #3BD045, #EF1105);
    color: #fff;
    text-align: center;
    padding: 10px 0; /* Increased padding for better spacing */
}

.contact-item ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-item ul li {
    margin: 0 20px; /* Increased margin for better spacing */
}

.contact-item ul li a {
    color: #fff;
    font-size: 24px;
}

.contact-item ul li a:hover {
    color: #ccc;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .introduction img {
        border-radius: 0;
    }

    input[type="text"] {
        margin-right: 0; /* Reset margin for smaller screens */
    }

    button,
    .btn {
        margin-top: 10px; /* Adjust margin top for smaller screens */
    }
}

/* Add space between Spray Program button and footer */
#SprayProgram {
    margin-bottom: 40px; /* Adjust margin bottom as needed */
}

.word1 {
    color: #3BD045; /* Color for the first word */
}

.word2 {
    color: #EF1105; /* Color for the second word */
}

#contact {
    padding: 50px 0; /* Increased padding for better spacing */
    background-color: #1f1f1f; /* Dark background */
    color: #fff; /* Text color */
    text-align: center; /* Center align text */
}

.container {
    max-width: 800px; /* Limit container width for better readability */
    margin: 0 auto; /* Center the container */
}

.contact-info {
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center align items horizontally */
    margin-bottom: 10px; /* Increased margin for better separation */
}

.contact-item {
    margin-bottom: 10px; /* Increased margin for better separation */
}

.contact-item h3 {
    font-size: 24px;
    margin-bottom: 10px; /* Adjust margin bottom as needed */
}

.contact-item p {
    margin: 0;
    font-size: 18px;
}

.contact-form {
    margin-top: 30px; /* Increased margin for better separation */
}

.contact-form h3 {
    font-size: 24px;
    margin-bottom: 20px; /* Increased margin for better separation */
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 40px); /* Calculate width with some padding */
    padding: 15px; /* Increased padding for better input field appearance */
    margin-bottom: 20px; /* Increased margin for better separation */
    border: 2px solid #3BD045; /* Green border */
    border-radius: 5px; /* Increased border radius for a sleek look */
    outline: none;
    background-color: transparent; /* Transparent background */
    color: #fff; /* Text color */
}

.contact-form textarea {
    width: calc(100% - 40px); /* Calculate width with some padding */
    height: 150px; /* Set a fixed height for the textarea */
}

.contact-form input[type="submit"] {
    padding: 15px 30px; /* Increased padding for better button appearance */
    background: linear-gradient(135deg, #3BD045, #EF1105);
    color: #fff;
    border: none;
   
    border-radius: 0px; /* Increased border radius for a sleek look */
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: right;
}

.contact-form input[type="submit"]:hover {
    background: linear-gradient(135deg, #3BD045, #EF1105);
}
.button-container {
    justify-content: right; /* Aligns the button container to the right */
}

/* Style for solution table */
.solution table {
    width: 100%; /* Set table width to 100% */
    border-collapse: collapse; /* Collapse borders */
    margin-top: 10px; /* Add margin on top for separation */
}

/* Style for table header cells */
.solution th {
    background-color: #3BD045; /* Set background color */
    color: #fff; /* Set text color */
    font-weight: bold; /* Set font weight to bold */
    padding: 4px; /* Add padding */
}

/* Style for table data cells */
.solution td {
    border: 1px solid #ddd; /* Add border */
    padding: 3px; /* Add padding */
}
.introduction {
    background-color: #1f1f1f; /* Set the background color to match the solution section */
    color: #fff; /* Text color */
    text-align: center;
    padding: 20px;
}




