/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212; /* Dark background */
    margin: 0;
    padding: 0;
    color: #fff; /* Text color */
}

header {
    background: linear-gradient(135deg, #3BD045, #EF1105); /* Gradient background for header */
    color: #fff;
    text-align: center;
    padding: 40px 0; /* Increased padding for better spacing */
}

h1 {
    margin: 0;
    font-size: 36px;
}

.introduction {
    text-align: center;
    padding: 20px;
}

.introduction img {
    width: 100%;
    max-height: 80vh;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.introduction p {
    margin: 20px 0;
    font-size: 18px;
    line-height: 1.6;
}

main {
    padding: 20px;
}

.search-container {
    text-align: center;
    margin-bottom: 10px; /* Increased margin for better separation */
}

input[type="text"] {
    padding: 15px; /* Increased padding for better input field appearance */
    width: 60%;
    border: none;
    border-radius: 30px; /* Increased border radius for a sleek look */
    outline: none;
    background-color: #1f1f1f;
    color: #fff;
}

button,
.btn {
    padding: 15px 30px; /* Increased padding for better button appearance */
    background: linear-gradient(135deg, #3BD045, #EF1105);
    color: #fff;
    border: none;
    border-radius: 30px; /* Increased border radius for a sleek look */
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover,
.btn:hover {
    background: linear-gradient(135deg, #3BD045, #EF1105);
}

#solutionResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.solution {
    width: 300px;
    margin-bottom: 30px; /* Increased margin for better separation */
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 15px; /* Reduced border radius for a sleek look */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.solution:hover {
    transform: translateY(-5px);
}

.solution h3 {
    margin-top: 0;
    font-size: 24px;
}

.solution img {
    max-width: 100%;
    border-radius: 8px; /* Reduced border radius for a sleek look */
    margin-bottom: 10px;
}

footer {
    background: linear-gradient(135deg, #3BD045, #EF1105);
    color: #fff;
    text-align: center;
    padding: 30px 0; /* Increased padding for better spacing */
}

.contact-item ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.contact-item ul li {
    margin: 0 20px; /* Increased margin for better spacing */
}

.contact-item ul li a {
    color: #fff;
    font-size: 24px;
}

.contact-item ul li a:hover {
    color: #ccc;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .introduction img {
        border-radius: 0;
    }
}
/* Add space between Spray Program button and footer */
#SprayProgram {
    margin-bottom: 10px; /* Adjust margin bottom as needed */
}
